# =============== #
# Unity generated #
# =============== #
GALG/Temp/
GALG/Obj/
GALG/UnityGenerated/
GALG/Library/
GALG/Assets/AssetStoreTools*
Reference/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db